{% extends 'website/sample.html' %}
{% load static %}

{% block title %}
  Информация
{% endblock %}

{% block content %}
  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 rounded shadow-lg" src="{% static 'website/img/4.png' %}" alt="" width="250" height="250">
    <h1 class="display-5 fw-bold">Обо мне</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Давайте знакомиться !</p>
      <p class="lead mb-4">Чудина Елена Владимировна - тьютор школы "Возможность", клинический психолог, сертифицированный логопед.</p>
      <p class="lead mb-4">В школе "Возможность" помогаю адаптации детей с ОВЗ к образовательной среде.</p>
      <p class="lead mb-4">Занимаюсь коррекцией звукопроизношения и развитием речи, в том числе у детей с РДА, РАС, ОНР, ЗПР.</p>
      <p class="lead mb-4">В психологию я пришла из творческой профессии: режиссер театрализованных представлений. И мне хотелось найти возможность
          работать на стыке театра и психологии. Поэтому я активно осваивала психодраму, методы песочной, игровой и музыкальной терапии.
          И в работе использую игровую, песочную и вокальную терапии.</p>
      <p class="lead mb-4">Шляпник часто задавал вопрос: "Что общего у ворона и письменного стола?"</p>
      <p class="lead mb-4">И мне часто задают вопрос: что общего у актрисы, логопеда и клинического психолога? На первый взгляд - ничего.
          Но Шляпнику можно ответить, например: ножки! И я могу ответить вам: личность!</p>
      <p class="lead mb-4">Личность человека, которому это профессионально интересно!</p>
      <p class="lead mb-4">Всем известно, что актерская профессия предполагает хорошее качество речи.
          И существует предмет, на котором актера обучают правильной артикуляции, тренируют дыхание и дикцию: искусство сценической речи.
          А в детстве, когда ребенку нужна помощь в коррекции звукопроизношения, помогает специалист под названием - логопед.
          Что он делает? Работает над правильной артикуляцией, дыханием, дикцией! А если прибавить сюда навыки вокалиста,
          то получится предмет под названием логоритмика! Логортимика: музыка + движение= речь.</p>
      <p class="lead mb-4">Прибавьте сюда знания по клинической психологии,
          и Вы получите специалиста широкого профиля: три в одном!
          Как обычно строится работа в речевом центре? Работает 3 специалиста: психолог, дефектолог и логопед.
          Давайте рассмотрим мои навыки в каждой из этих областей и чем они помогают мне в работе.</p>
      <p class="lead mb-4">Я "Клинический психолог".
          Клинический психолог это психолог, квалификация которого позволяет работать с особенными детьми.
          Поэтому я работаю с РАД, РАС, СДВГ, СД. Эти дети требуют особого подхода и специальных знаний.
          В университете мы изучали специальные дисциплины: клиническая (медицинская) психология; нейропсихология;
          нейропсихология детского возраста; психология аномального развития (дефектология); методы нейро-, пато- и
          психосоматической диагностики и коррекции. После университета я работала педагогом-психологом в центре развития личности
          "Февраль" индивидуально и вела групповые проекты по авторским методикам моих университетских преподавателей:
          В.Б. Хозиева и М.В. Хозиевой.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>

  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom text-center">Мои дипломы</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden bg-dark rounded-5 shadow-lg">
              <img src="{% static 'website/img/5.png' %}" alt="">
        </div>
      </div>

        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
              <img src="{% static 'website/img/6.png' %}" alt="">
        </div>
      </div>

        <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
              <img src="{% static 'website/img/7.png' %}" alt="">
        </div>
      </div>
    </div>
    </div>

{% endblock %}
