{% extends 'website/sample.html' %}
{% load static %}

{% block title %}
  Контакты
{% endblock %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Контактная информация</h1>
        <div class="col-lg-6 mx-auto">
              <p class="lead mb-2">Группа в вк:</p>
              <a href="https://vk.com/taratoria" class="lead text-black border rounded px-2 pb-1 shadow">vk.com/taratoria</a>
              <p class="lead mb-2 mt-2">Адрес: г. Дубна. ул. Вокзальная 7</p>
              <p class="lead mb-2 mt-2">Центр Таратория базируется в помещении центра Спектр:</p>
              <p class="lead mb-2 mt-2">Запись по телефону:</p>
              <p class="lead mb-4">8(916)215-03-20.</p>
              <div class="rounded shadow-lg" style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/spektr/1168775268/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Спектр</a><a href="https://yandex.ru/maps/215/dubna/category/further_education/184106162/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Дополнительное образование в Дубне</a><a href="https://yandex.ru/maps/215/dubna/category/foreign_language_courses/184106160/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:28px;">Курсы иностранных языков в Дубне</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUF5Sui8B" width="1000" height="620" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
        </div>
    </div>

{% endblock %}

