{% extends 'crm/sample.html' %}
{% load static %}

{% block title %}
  Календарь занятий
{% endblock %}

{% block content %}
    <div class="mb-2 mb-md-0 text-center">
        {% if request.user.is_authenticated and request.user.username == 'speech' %}
            <form method="post">
                {% csrf_token %}
                <h3>Вы уверены что хотите удалить занятие ? </h3>
                <button class="btn btn-success" type="submit">Да</button>
                <a href="{% url 'calendar' %} " class="btn btn-success">Нет</a>
            </form>
        {% elif request.user.is_authenticated %}
            <div class="text-center">
                <p>У вас нет разрешения для просмотра этой страницы</p>
            </div>
        {% else %}
            <div class="text-center">
                <p>Авторизуйтесь чтобы увидеть эту страницу</p>
                <a href="{% url 'login' %}" class="nav-link px-2 text-black text-center">Войти</a>
            </div>
        {% endif %}
    </div>
{% endblock %}