{% extends 'crm/sample.html' %}
{% load static %}

{% block title %}
  Домашние задания
{% endblock %}

{% block content %}
         {% if request.user.is_authenticated and request.user.username == 'speech' %}
                <div class="mb-2 px-2 pb-2 mx-2 text-center">
                    <form method="get">
                        <p>Выберите пользователя:</p>
                        <p>{{ form.login }}</p>
                    <button class ="btn btn-success mb-3" type="submit">Выбрать пользователя</button>
                    </form>
                </div>
                <div class="d-flex flex-wrap justify-content-center text-center mx-2">
                    {% for el in news %}
                        <div class="mb-2 px-2 pb-2 mx-2 text-center border" style="max-width: 30vh">
                            {{ el.homework_name }}<br>
                            <p class="mb-0">Дата создания:</p>
                            {{ el.date_of_issue }}<br>
                            <p class="mb-0">Дата последнего обнавления:</p>
                            {{ el.last_update }}<br>
                            <p class="mb-0">Содержание:</p>
                            {{ el.homework }}<br>
                            <a href="{% url 'homework_update' el.id %}" class="btn btn-warning mb-2" style="min-width: 20vh">Обновить</a><br>
                            <a href="{% url 'homework_delete' el.id %}" class="btn btn-warning" style="min-width: 20vh">Удалить дз</a><br>
                        </div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href="{% url 'create_homework' %}" class="px-2 text-black">Создать дз</a>
                </div>

         {% elif request.user.is_authenticated %}
                <div class="d-flex flex-wrap justify-content-center text-center mx-2">
                    {% for el in user_data %}
                        <div class="mb-2 px-2 pb-2 mx-2 text-center border" style="max-width: 30vh">
                            {{ el.homework_name }}<br>
                            <p class="mb-0">Дата создания:</p>
                            {{ el.date_of_issue }}<br>
                            <p class="mb-0">Дата последнего обнавления:</p>
                            {{ el.last_update }}<br>
                            {{ el.homework }}<br>
                        </div>
                    {% endfor %}
                </div>
         {% else %}
            <div class="text-center">
                <p>Авторизуйтесь чтобы увидеть эту страницу</p>
                <a href="{% url 'login' %}" class="nav-link px-2 text-black text-center">Войти</a>
            </div>
         {% endif %}
{% endblock %}
