{% extends 'crm/sample.html' %}
{% load static %}

{% block title %}
  Карты подопечных
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap justify-content-center text-center mx-2">
        <div class="mt-2 text-center border" style="max-width: 80vh">
            {% if request.user.is_authenticated and request.user.username == 'speech' %}
                <h1 class="mb-2 text-center">{{ user_card_details.card_name }}</h1>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Дата осмотра:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.birthday}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Заключение ПМПК:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.pmpk}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Общее звучание речи:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.sound_of_speech}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Строение и подвижность органов артикуляции:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.structure_and_mobility}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Понимание речи:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.understanding}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Состояние звукопроизношения:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.sound_state}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Слоговая структура слова:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.structure_of_the_word}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Характеристика словаря:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.dictionary_feature}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Грамматический строй речи:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.grammatical_structure}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Связная речь:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.connected_speech}}</p>
                 </div>
                 <div class="border mb-1 mx-1">
                     <p class="mb-2 mb-md-0 text-center fw-bolder">Рекомендации:</p>
                     <p class="mb-2 mb-md-0 text-center">{{ user_card_details.general_recommendations}}</p>
                 </div>

                    <a href="{% url 'user_card_update' user_card_details.id %}" class="btn btn-warning mb-2">Обновить карту</a>
                    <a href="{% url 'user_card_delete' user_card_details.id %}" class="btn btn-warning mb-2">Удалить карту</a>
            {% elif request.user.is_authenticated %}
                <h1 class="mb-2 text-center">{{ user_card_details.card_name }}</h1>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Дата осмотра:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.birthday}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Заключение ПМПК:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.pmpk}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Общее звучание речи:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.sound_of_speech}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Строение и подвижность органов артикуляции:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.structure_and_mobility}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Понимание речи:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.understanding}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Состояние звукопроизношения:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.sound_state}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Слоговая структура слова:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.structure_of_the_word}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Характеристика словаря:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.dictionary_feature}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Грамматический строй речи:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.grammatical_structure}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Связная речь:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.connected_speech}}</p>
                </div>
                <div class="border mb-1 mx-1">
                    <p class="mb-2 mb-md-0 text-center fw-bolder">Рекомендации:</p>
                    <p class="mb-2 mb-md-0 text-center">{{ user_card_details.general_recommendations}}</p>
                </div>
            {% else %}
                <div class="text-center">
                    <p>Авторизуйтесь чтобы увидеть эту страницу</p>
                    <a href="{% url 'login' %}" class="nav-link px-2 text-black text-center">Войти</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}