{% extends 'crm/sample.html' %}
{% load static %}

{% block title %}
  Главная
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="d-flex flex-wrap justify-content-center">
            <div class="mb-2 mb-md-0 text-center">
            <h1> Смена пароля</h1>
            <form action="" method="post">
                {% csrf_token %}
                {% for el in form %}
                    {{ el.label }}<br>
                    {{ el }}<br>
                {% endfor %}
            <input type="submit" class="btn btn-success mt-3" value="Сменить пароль">
            </form>
            </div>
        </div>
    {% else %}
        <div class="text-center">
            <p>Авторизуйтесь чтобы увидеть эту страницу</p>
            <a href="{% url 'login' %}" class="nav-link px-2 text-black text-center">Войти</a>
        </div>
    {% endif %}
{% endblock %}